## *복습(array/queue/stack)

### 1. array

#### 연습문제 : 다음 변수의 'M'이 몇 번 포함되었는지 출력하시오.

In [3]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [5]:
m_count = 0;
for data in dataset:
    print(data)

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio

In [26]:
m_count = 0;
for data in dataset:
    for index in range(len(data)):
        if(data[index] == 'M'):
            m_count+=1;
print(m_count)

38

#### 연습문제 : 길이가 n일 배열에 1부터 n까지 숫자가 중복 없이 한 번씩 들어있는지를 확인하려고 합니다. 1부터 n까지 숫자가 중복 없이 한 번씩 들어 있는 경우 true를, 아닌 경우 false를 반환하도록 함수 solution을 완성해주세요.

In [47]:
def solution(data):
    
    data = list(set(data))
    data.sort()
    
    if(len(data) == data[-1]) :
        return True
    else : return False

data01 = [1,2,3,4,5,6,7,8,9,10]
data02 = [1,3,4,4,4,4,4,4,3,10]

print(solution(data01))
print(solution(data02))

True
False

In [51]:
'''
삼항 연산 이용

'''

def solution(data):
    
    data = list(set(data))
    data.sort()
    
    answer = True if data[-1] == len(data) else False
    
    return answer

data01 = [1,2,3,4,5,6,7,8,9,10]
data02 = [1,3,4,4,4,4,4,4,3,10]

print(solution(data01))
print(solution(data02))

True
False

### 2. queue

#### 연습문제 : list 로 enqueue, dequeue 함수를 만들고, 큐 구조를 완성하시오.

In [65]:
data_queue = list()

def enqueue(data) :
    data_queue.append(data)
    
def dequeue():
    data = data_queue[0]
    del data_queue[0]
    print(data)
    
enqueue(1)
enqueue(3)
enqueue(4)
enqueue(5)

dequeue()
dequeue()
dequeue()
dequeue()

1
3
4
5

#### 연습문제 : queue 라이브러리를 사용해서 실습해보시오

In [70]:
import queue

queue = queue.Queue()

queue.put(1)
queue.put(3)
queue.put(4)
queue.put(5)

print(queue.get())
print(queue.get())
print(queue.get())
print(queue.get())

1
3
4
5

### 3. stack

#### 연습문제 : list 로 push, pop 함수를 만들고, 큐 구조를 완성하시오.

In [73]:
data_stack = list()

def push(data) :
    data_stack.append(data)
    
def pop() :
    data = data_stack[-1]
    del data_stack[-1]
    print(data)
    
push(1)
push(3)
push(4)
push(5)

pop()
pop()
pop()
pop()

5
4
3
1